<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Контактна інформація
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" color="medium" name="call-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        +380660468072
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="mail-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        netnotkam@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
